table.details tr td{
    background:#f0f8ff;
    padding: 2px 3px 2px 3px;
}

table.details tr th{
    background:#a6caf0;
    padding: 2px 3px 2px 3px;
}

A.bar:link {
	COLOR: #ffffff; FONT-STYLE: normal; TEXT-DECORATION: none; font-familty: Arial,Helvetica
}
A.bar:active {
	COLOR: #ff0000; FONT-STYLE: normal; TEXT-DECORATION: none; font-familty: Arial,Helvetica
}
A.bar:visited {
	COLOR: #ffffff; FONT-STYLE: normal; TEXT-DECORATION: none; font-familty: Arial,Helvetica
}

.small-text {
	font-size: 12px;
}

.micro-text {
	font-size: 10px;
}
	
.nano-text {
	font-size: 8px;
}

.hidden {
	visibility: hidden;
}